<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>


{% if not user.is_authenticated %}
    <a href="/accounts/login" > LOGIN </a><hr>

{% else %}
    <a href="/accounts/logout"> LOGOUT </a><br><hr>
    <a href="/user_cart"> Корзина </a><br><hr>
    <a href="/user_cabinet"> Кабинет </a><br><hr>

{% endif %}

Категории: {% for i in category %} <a href="/category/{{ i }}"> {{i}} </a> {% endfor %}<br><hr>

Курсы: {% for i in courses %} <a href="/courses/{{ i }}">{{ i }}</a> {% endfor %}<br><hr>

Акции: {% for i in sales %} {{i.sale_name}} {% endfor %}<br><hr>


</body>
</html>